{:deps {org.clojure/clojurescript {:mvn/version "1.10.339"}
        rpkarlsson/immotile {:git/url "https://github.com/rpkarlsson/immotile"
                             :sha "d99e9990bc34b91764d71b980ed3c8b05fcb97d9"}}
 :aliases {:dev {:main-opts ["-m" "immotile.core" "dev"]}
           :build {:main-opts ["-m" "immotile.core" "build-prod"]}}}
